server:
  port: 8080

spring:
  main.banner-mode: 'off'
  profiles:
    active: default
  flyway:
    enabled: true
  datasource:
    url: "jdbc:postgresql://${NAIS_DATABASE_FLEX_SYKETILFELLE_FLEX_SYKETILFELLE_DB_HOST}:${NAIS_DATABASE_FLEX_SYKETILFELLE_FLEX_SYKETILFELLE_DB_PORT}/${NAIS_DATABASE_FLEX_SYKETILFELLE_FLEX_SYKETILFELLE_DB_DATABASE}"
    username: ${NAIS_DATABASE_FLEX_SYKETILFELLE_FLEX_SYKETILFELLE_DB_USERNAME}
    password: ${NAIS_DATABASE_FLEX_SYKETILFELLE_FLEX_SYKETILFELLE_DB_PASSWORD}
    hikari:
      minimum-idle: 1
      maximum-pool-size: 3

logging.config: "classpath:logback.xml"

management:
  endpoint.prometheus.enabled: true
  endpoints.web:
    base-path: /internal
    exposure.include: health

aiven-kafka:
  auto-offset-reset: earliest #TODO NONE
  security-protocol: SSL
